# 공통 무시 항목 (빌드 최적화용)
node_modules
dist
*.log
.git
.gitignore
*.md
*.env
frontend/.next/cache
backend/coverage
backend/firebase_config.json
.pnpm
backend/node_modules/.pnpm
frontend/node_modules/.pnpm
# 모든 위치의 node_modules, .pnpm 폴더를 무시
**/node_modules
**/.pnpm